<div class="card__textarea-wrap">
  <label>
    <textarea class="card__text" [placeholder]="editingTask.text" name="text" [(ngModel)]="editingTask.text"></textarea>
  </label>
</div>
<div class="card__settings">
  <div class="card__details">
    <div class="card__dates">
      <fieldset class="card__date-deadline">
        <label class="card__input-deadline-wrap">
          <input class="card__date" type="text" placeholder="{{editingTask.date}}" [(ngModel)]="editingTask.date" name="date">
        </label>
      </fieldset>
    </div>
  </div>

  <div class="card__colors-inner">
    <h3 class="card__colors-title">Color</h3>
    <div class="card__colors-wrap">
      <input type="radio" id="color-black-4"
        class="card__color-input card__color-input--black visually-hidden" name="color" value="black">
      <label for="color-black-4" class="card__color card__color--black" (click)="changeColor('black')">black</label>
      <input type="radio" id="color-yellow-4"
        class="card__color-input card__color-input--yellow visually-hidden" name="color" value="yellow"
        checked="">
      <label for="color-yellow-4" class="card__color card__color--yellow" (click)="changeColor('yellow')">yellow</label>
      <input type="radio" id="color-blue-4"
        class="card__color-input card__color-input--blue visually-hidden" name="color" value="blue">
      <label for="color-blue-4" class="card__color card__color--blue" (click)="changeColor('blue')">blue</label>
      <input type="radio" id="color-green-4"
        class="card__color-input card__color-input--green visually-hidden" name="color" value="green">
      <label for="color-green-4" class="card__color card__color--green" (click)="changeColor('green')">green</label>
      <input type="radio" id="color-pink-4"
        class="card__color-input card__color-input--pink visually-hidden" name="color" value="pink">
      <label for="color-pink-4" class="card__color card__color--pink" (click)="changeColor('pink')">pink</label>
    </div>
  </div>
</div>
<div class="card__status-btns">
  <button class="card__save" (click)="changeEditState(editingTask)">Close</button>
  <button class="card__delete" type="button" (click)="delete(editingTask)">delete</button>
</div>