<section class="board container">
  <div class="board__filter-list">
    <a href="#" class="board__filter" data-sort-type="default">SORT BY DEFAULT</a>
    <a href="#" class="board__filter" data-sort-type="date-up">SORT BY DATE up</a>
    <a href="#" class="board__filter" data-sort-type="date-down">SORT BY DATE down</a>
  </div>



  <div class="board__tasks">

    <ng-container *ngFor="let task of tasks">
      <ng-container *ngIf="!task.isArchived">
        <article class="card card--{{task.color}}" [class.card--deadline]="task.isDeadline">
          <div class="card__form">
            <div class="card__inner">
              <div class="card__control">
                <button type="button" class="card__btn card__btn--edit">
                  edit
                </button>
                <button type="button" class="card__btn card__btn--archive">
                  archive
                </button>
                <button type="button" class="card__btn card__btn--favorites" [class.card__btn--disabled]="task.isFavorite">
                  favorites
                </button>
              </div>
    
              <div class="card__color-bar">
                <svg class="card__color-bar-wave" width="100%" height="10">
                  <use xlink:href="#wave"></use>
                </svg>
              </div>
    
              <div class="card__textarea-wrap">
                <p class="card__text">{{task.text}}</p>
              </div>
    
              <div class="card__settings">
                <div class="card__details">
                  <div class="card__dates">
                    <div class="card__date-deadline">
                      <p class="card__input-deadline-wrap">
                        <span class="card__date">{{task.date}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </ng-container>
    </ng-container>

    </div>

  <button class="load-more" type="button">load more</button>
</section>
